body {
    font-family: 微软雅黑, 黑体, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    margin-top: 20px;
}

.fun {
    text-align: center;
}
@media (max-width: 768px){
    h2 {
        padding-left: 10px;
    }
}

hr {
    clear: both;
}

.star-control {
    margin-top: 20px;
}
