body {
    overflow-x: hidden;
    height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
    /*canvas不是块级元素？*/
    display: block;
    /*height: 200px;*/
    border: 2px solid #eee;
}

.control {
    text-align: center;
    margin-top: 10px;
}
.time-prt {
    margin: 10px;
}
.time-prt li {
    /*如果使用 display: inline; li超出屏幕*/
    float: left;
    line-height: 1.7;
    padding-right: 17px;
    font-size: .9rem;
    font-family: 'Times New Roman', Times, serif;
}
.time-prt li.pause {
    color: red;
}